/* BASIC */

html {
  background-color: #323232;
}

body {
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
}

p {
  color: white;
}

a {
  color: #cccccc;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h1,
h2 {
  text-align: center;
  color: #cccccc;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #212121;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #212121;
  border-top: 1px solid #323232;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

button,
.button,
input[type="reset"] {
  background-color: #323232;
  border: none;
  color: #cccccc;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

input[type="button"]:hover,
button[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  background-color: #434343;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  background-color: #323232;
  border: none;
  color: #cccccc;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #121212;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  background-color: #434343;
  outline: none;
}

header,
footer {
  background-color: #212121;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

input[type="text"]:placeholder,
input[type="password"]:placeholder,
input[type="number"]:placeholder {
  color: #000;
}

.neweventmessage,
.brief {
  text-align: center;
}

.brief {
  margin: 5px;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -50px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -50px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
