<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Timezones - Create</title>
  </head>
  <body>
    <style>
      body {
        font-family: "Lato", sans-serif;
      }
    </style>
    <div class="wrapper">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2>When are you available?</h2>
        <!-- Create event Form -->
        {% block content %}
        <form action="" method="post">
          {{ form.csrf_token }}
          <p>
            Start time:
            <br />
            {{ form.blockstart() }}
          </p>
          <p>
            End time:
            <br />
            {{ form.blockend() }}
          </p>
          {{ form.submit(class_="button") }}
        </form>
        {% endblock%}

        <!-- Footer -->
        <div id="formFooter">
          <a href="/{{ code }}">Back to event</a>
        </div>
      </div>
    </div>
  </body>
</html>
