<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
    <script
      src="https://kit.fontawesome.com/0e7cbfa068.js"
      crossorigin="anonymous"
    ></script>
    <title>Timezones</title>
    <style>
      button {
        height: 100px;
      }
      h2 {
        padding: 5px;
      }
      #formContent {
        max-width: 550px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div id="formContent">
        <h2 style="color: grey; font-size: 50px">Welcome</h2>
        <br />
        <h2 class="active">Create a timeline</h2>
        <h2 class="active">Join a timeline</h2>
        <button
          type="submit"
          onclick="document.location.href=this.getAttribute('href');"
          href="create-timeline.html"
        >
          <i class="fas fa-user-plus fa-3x"></i>
        </button>
        <button type="submit" onclick="alert('Enter code');">
          <i class="fas fa-users fa-3x"></i>
        </button>
      </div>
    </div>
  </body>
</html>
