<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script
      src="https://kit.fontawesome.com/0e7cbfa068.js"
      crossorigin="anonymous"
    ></script>
    <title>Timezones</title>
    <style>
      body {
        font-family: "Lato", sans-serif;
      }
      button {
        height: 100px;
      }
      h2 {
        padding: 5px;
      }
      #formContent {
        max-width: 550px;
      }
    </style>
    <script>
      function joinEvent() {
        var code = prompt("please enter group code:");
        if (code != null) {
          window.location.replace("/" + code);
        }
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div id="formContent">
        <h2 style="color: #7dca5c; font-size: 50px">Welcome</h2>
        <br />
        <h2>Create an event</h2>
        <h2>Join an event</h2>
        <button
          type="submit"
          onclick="document.location.href=this.getAttribute('href');"
          href="newevent"
        >
          <i class="fas fa-user-plus fa-3x"></i>
        </button>
        <button type="submit" onclick="joinEvent()">
          <i class="fas fa-users fa-3x"></i>
        </button>
      </div>
    </div>
  </body>
</html>
