<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/gantt.css" type="text/css" />
    <title>Timeline</title>
    <style media="screen">
      body {
        font-family: "Lato", sans-serif;
      }
      header,
      footer {
        display: grid;
        grid-template-columns: auto auto;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Name: {{ event.eventname }}</h1>
      <h1>Code: {{ event.eventkey }}</h1>
    </header>
    <div id="chart"></div>
    <script src="../static/js/gantt.js"></script>
    <script>
      let data = {{ timetable|tojson }};

      //This could be an API call to grab data
      function refreshFunction() {
        return data;
      }

      //Parameters that the chart expects
      let params = {
        sidebarHeader: "Unused right now",
        noDataFoundMessage: "<h1 style='text-align:center'>Add a subtimeline to start</h1>",
        startTimeAlias: "blockstart",
        endTimeAlias: "blockend",
        idAlias: "timelineid",
        rowAlias: "name",
        linkAlias: null,
        refreshFunction: refreshFunction,
      };

      //Create the chart.
      //On first render the chart will call its refreshData function on its own.
      let ganttChart = new Gantt("chart", params);

      //To refresh the chart's data
      ganttChart.refreshData();
    </script>
    <footer>
      <button
        type="submit"
        onclick="window.location.href='/newtimeline/{{ event.eventkey }}';"
      >
        Add subtimeline
      </button>
      <button
        type="submit"
        onclick="window.location.href='/newtimeblock/{{ event.eventkey }}';"
      >
        Add timeblock
      </button>
    </footer>
  </body>
</html>
