<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/jquery.ganttView.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Timeline</title>
    <style media="screen">
      body {
        font-family: "Lato", sans-serif;
      }
      header,
      footer {
        display: grid;
        grid-template-columns: auto auto;
      }
    </style>
  </head>
  <body>
    <header>
      <h2>Name: {{ request.cookies.get('eventname') }}</h2>
      <h2>Code: {{ request.cookies.get('eventkey') }}</h2>
    </header>
    <div class="ganttChart"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/date.js"></script>
    <script type="text/javascript" src="../js/jquery.ganttView.js"></script>
    <script type="text/javascript" src="../json/data.js"></script>
    <script type="text/javascript">
      $(function () {
        $(".ganttChart").ganttView({
          slideWidth: 900,
          data: ganttData,
        });
      });
    </script>
    <footer>
      <button
        type="submit"
        onclick="document.location.href=this.getAttribute('href');"
        href="/create_subtimeline"
      >
        Add subtimeline
      </button>
      <button
        type="submit"
        onclick="document.location.href=this.getAttribute('href');"
        href="/"
      >
        Return to menu
      </button>
    </footer>
  </body>
</html>
